<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Overview of all books</title>

    <link rel="stylesheet" href="style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body class="d-flex flex-column text-primary" style="height: 100vh;">

<!-- Navbar -->
<div class="sticky-top">
    <div class="bg-primary">
        <header th:replace="navbar :: navbar"></header>
    </div>
</div>

<!-- Content -->
<div class="container-fluid">
<!-- Formular neues Buch -->
<form method="post" th:object="${bookDTO}" th:action="@{allBooks}">
    <fieldset>
        <legend>Neues Buch hinzufügen</legend>
        <div class="mb-3">
            <input type="text" class="form-control" name="title" placeholder="Titel">
            <input type="text" class="form-control" name="author" placeholder="Autor">
            <input type="text" class="form-control" name="isbn" placeholder="ISBN">
            <input type="submit" class="btn btn-primary">
        </div>
    </fieldset>
</form>

<!-- Anzeige Bücher -->
<div class="mb-3">
<h3>Alle Bücher</h3>
    <div class="row my-1 text-primary">
       <div class="col-11 d-flex justify-content-between">
            <div class="col-3">Titel</div>
            <div class="col-6">Autor</div>
            <div class="col-3">ISBN</div>
       </div>
    </div>
    <div th:object="${book}" th:each="book : ${allBooks}">
        <div class="row my-1 text-primary">
            <div class="col-11 d-flex justify-content-between">
                <div class="col-3" th:text="*{title}"></div>
                <div class="col-3" th:text="*{author}"></div>
                <div class="col-3" th:text="*{isbn}"></div>
            </div>
        </div>
    </div>
</div>

<!-- Filter -->
<h3>Filter</h3>
    <form>
        <div class="mb-3">
            <input type="text" class="form-control" name="authorFilter" th:value="${filter}">
            <input type="submit" class="btn btn-primary">
        </div>
    </form>


    <!-- Footer -->
    <footer th:replace="footer :: footer"></footer>
</div>
</body>
</html>