<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Overview of all books</title>

    <link rel="stylesheet" href="style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body class="d-flex flex-column text-primary" style="height: 100vh;">

<!-- Navbar -->
<div class="sticky-top">
    <div class="bg-primary">
        <header th:replace="navbar :: navbar"></header>
    </div>
</div>
<!-- Content -->
    <div class="container-fluid">
<h1> Alle Bücher in der Übersicht:</h1>

<!--
<h3>Filter</h3>
<form>
    <input type="text" name="authorFilter" th:value="${filter}">
    <input type="submit">
</form>
-->
<div class="drop-shadow">
<div class="inner-shadow" th:each="book : ${allBooks}">
    <p class="lead" th:text="${'Title: ' + book.title}"></p>
    <p class="lead" th:text="${'Author: ' + book.author}"> </p>
    <p class="lead" th:text="${'ISBN: ' + book.isbn}"></p>
</div>
</div>

<form method="post">
    <fieldset>
        <legend>Neues Buch hinzufügen</legend>
    <input type="text" name="title" placeholder="Titel">
    <input type="text" name="author" placeholder="Autor">
    <input type="text" name="isbn" placeholder="ISBN">
    <input type="submit">
    </fieldset>
</form>
    <!-- Footer -->
    <footer th:replace="footer :: footer"></footer>
</div>
</body>
</html>