<!DOCTYPE html>
<html lang="de">
<head>
  <!-- Required meta tags -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Overview of all books</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Override Boostrap CSS -->
  <link rel="stylesheet" th:href="@{~/css/bootstrap-overrides.css}" >

</head>
<body class="d-flex flex-column text-primary" style="height: 100vh;">

<!-- Navbar -->
<div class="sticky-top">
  <div class="bg-primary">
    <header th:replace="navbar :: navbar"></header>
  </div>
</div>

<!-- Content -->
<div class="container-fluid">

  <!-- Formular Buch bearbeiten -->
  <form method="post" th:object="${bookDto}" th:action="@{saveBook}">
    <fieldset class="mt-5">
      <legend>Buch bearbeiten</legend>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <input type="text" class="form-control" th:field="*{id}" hidden>
            <input type="text" class="form-control" th:field="*{title}" placeholder="Titel">
            <p th:errors="*{title}" class="alert alert-danger"/>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <input type="text" class="form-control" th:field="*{author}" placeholder="Autor">
            <p th:errors="*{author}" class="alert alert-danger"/>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <input type="text" class="form-control" th:field="*{isbn}" placeholder="ISBN">
            <p th:errors="*{isbn}" class="alert alert-danger"/>
          </div>
        </div>
      </div>
      <input type="submit" class="btn btn-primary">
    </fieldset>
  </form>
</div>
<!-- Footer -->
<footer th:replace="footer :: footer"></footer>
</body>
</html>