<body>
 <!-- Fragment: Formular neues Buch -->
    <form th:fragment="newBook" method="post" th:object="${bookDto}" th:action="@{addBook}">
        <fieldset class="mt-5">
            <legend>Neues Buch hinzufügen</legend>
            <div class="row my-1 text-primary">
                <div class="col-md-3 d-flex justify-content-between">
                    <div class="form-group ml-0">
                    <input type="text" class="form-control" th:field="*{id}" hidden>
                    <input type="text" class="form-control" th:field="*{title}" placeholder="Titel">
                    <p th:errors="*{title}" class="alert alert-danger"/>
                    </div>
                </div>
                <div class="col-md-3 d-flex justify-content-between">
                    <div class="form-group ml-0 ">
                <input type="text" class="form-control" th:field="*{author}" placeholder="Autor">
                <p th:errors="*{author}" class="alert alert-danger"/>
                    </div>
                </div>
                <div class="col-md-3 d-flex justify-content-between">
                    <div class="form-group ml-0 ">
                <input type="text" class="form-control" th:field="*{isbn}" placeholder="ISBN (978-x-xxx-xxxxx-x)">
                <p th:errors="*{isbn}" class="alert alert-danger"/>
                    </div>
                </div>
                <div class="col-md-3 d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary" style="height: 36px;">Hinzufügen</button>
                </div>
            </div>
        </fieldset>
    </form>
</body>